---
import Root from "@/layouts/Root.astro"
import type { GetStaticPaths } from "astro"
import { getCollection, type CollectionEntry } from "astro:content"

export const getStaticPaths = (async () => {
  const chapters = await getCollection("chapters")
  return chapters.map((c) => {
    return {
      params: { chapter: c.slug },
      props: c,
    }
  })
}) satisfies GetStaticPaths

type Props = CollectionEntry<"chapters">

const chapter = Astro.props
const { Content } = await chapter.render()
---

<Root title={chapter.data.title} description={chapter.data.description}>
  <main>
    <Content />
  </main>
</Root>
