---
import Layout from "@/layouts/Layout.astro"
import Root from "@/layouts/Root.astro"
import { getCollection } from "astro:content"

const collection = await getCollection("chapters")
---

<Root title="Home" description="Description">
  <Layout>
    <header class="mb-10 md:mb-14 text-center">
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
      >
        Understanding Astro
      </h1>
    </header>
    <main>
      <ul class="my-6 ml-6 list-disc space-y-2 md:space-y-4">
        {
          collection
            .sort((a, b) => a.data.sortOrder - b.data.sortOrder)
            .map(({ slug, data: { title } }) => (
              <li>
                <a class="text-sm md:text-base underline px-2 py-2.5" href={`/${slug}`}>
                  {title}
                </a>
              </li>
            ))
        }
      </ul>
    </main>
  </Layout>
</Root>
