---
import { ArrowRight } from "lucide"
import Layout from "@/layouts/Layout.astro"
import Root from "@/layouts/Root.astro"
import { Badge } from "@/components/ui/badge"
import Chapters from "@/components/Chapters.astro"
import LucideIcon from "@/components/LucideIcon.astro"

const site = Astro.url.origin
---

<Root
  title="The book you need to learn the Astro Web Framework"
  description="Learn Astro and create modern websites and real-world projects with the new web framework everyone loves."
>
  <script
    type="application/ld+json"
    set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "Organization",
      url: site,
      image: `${site}/understanding-astro-banner.png`,
      name: "Understanding Astro",
      description:
        "The complete guide to building insanely fast production websites.",
    })}
  />
  <div
    slot="body"
    class="z-0 absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
  >
  </div>
  <Layout slot="body" class="relative z-10 max-w-screen-lg">
    <section>
      <div class="mt-2 md:mt-10 mb-10 md:mb-16 text-center">
        <div class="mb-4">
          <a
            data-ghost-border-trigger
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.ohansemmanuel.com/books/understanding-astro"
            class="group"
          >
            <Badge variant="secondary" className="gap-x-1 md:text-sm">
              <span class="mr-1">📕</span>
              <span>Get the eBook here</span>
              <LucideIcon
                icon={ArrowRight}
                class="size-3.5 md:size-4 group-hover:translate-x-1 transition"
              />
            </Badge>
          </a>
        </div>
        <h1
          class="scroll-m-20 text-4xl font-extrabold tracking-tight md:text-4xl lg:text-6xl mb-2"
        >
          Understanding Astro
        </h1>
        <p class="text-muted-foreground text-lg md:text-xl mx-auto">
          The complete guide to building insanely fast production websites.
        </p>
      </div>
      <div class="mb-20">
        <Chapters />
      </div>
    </section>
  </Layout>
</Root>
