---
import { getCollection } from "astro:content"
import { ArrowRight } from "lucide"
import Layout from "@/layouts/Layout.astro"
import Root from "@/layouts/Root.astro"
import { Card, CardContent, CardHeader } from "@/components/ui/card"
import LucideIcon from "@/components/LucideIcon.astro"
import { Badge } from "@/components/ui/badge"

const collection = await getCollection("chapters")
---

<Root
  title="Understanding Astro"
  description="The complete guide to building insanely fast production websites."
>
  <Layout class="max-w-screen-lg">
    <header class="mt-6 md:mt-10 mb-10 md:mb-16 text-center">
      <div class="mb-4">
        <a
          data-ghost-border-trigger
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.ohansemmanuel.com/books/understanding-astro"
          class="group"
        >
          <Badge variant="secondary" className="gap-x-1 md:text-sm">
            <span class="mr-1">📕</span>
            <span>Get the eBook here.</span>
            <LucideIcon
              icon={ArrowRight}
              class="size-3.5 md:size-4 group-hover:translate-x-1 transition"
            />
          </Badge>
        </a>
      </div>
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight md:text-4xl lg:text-6xl mb-2"
      >
        Understanding Astro
      </h1>
      <p class="text-muted-foreground text-lg md:text-xl mx-auto">
        The complete guide to building insanely fast production websites.
      </p>
    </header>
    <main class="mb-20">
      <section>
        <h2 class="font-semibold mb-4 md:text-lg">Chapters:</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 gap-x-4">
          {
            collection
              .sort((a, b) => a.data.sortOrder - b.data.sortOrder)
              .map(({ slug, data: { title, description } }) => (
                <a class="group" href={`/${slug}`}>
                  <Card className="w-full h-full transition duration-300 group-hover:shadow-black/5 dark:group-hover:shadow-white/5 group-hover:shadow-xl group-hover:border-black/80 dark:group-hover:border-white/80">
                    <CardHeader>
                      <h3 class="text-lg md:text-xl font-bold">{title}</h3>
                    </CardHeader>
                    <CardContent>
                      <p class="text-muted-foreground">{description}</p>
                    </CardContent>
                  </Card>
                </a>
              ))
          }
        </div>
      </section>
    </main>
  </Layout>
</Root>
