---
import { ChevronRight } from "lucide"
import LucideIcon from "./LucideIcon.astro"

interface Props {
  title: string
  href: string
  type: "right" | "left"
}

const { href, title, type } = Astro.props
---

<a
  class:list={[
    "transition-colors group border border-border hover:bg-muted/60 px-4 py-3 rounded-lg flex items-center gap-x-2 w-full",
    {
      "flex-row-reverse text-right": type == "right",
    },
  ]}
  href={href}
>
  <span>
    <LucideIcon
      icon={ChevronRight}
      class:list={[
        "size-6",
        {
          "rotate-180": type === "left",
        },
      ]}
    />
  </span>
  <span class="text-lg font-semibold truncate group-hover:text-clip"
    >{title}</span
  >
</a>
