---
import ToggleTheme from "./ToggleTheme.astro"
---

<header
  class="z-10 fixed w-full top-0 left-0 h-14 bg-background/60 backdrop-blur-sm"
>
  <div class="flex items-center px-4 h-full w-full">
    <slot />
    <div class="ml-auto">
      <ToggleTheme />
    </div>
  </div>
</header>
