<div
  class="prose dark:prose-invert max-w-none prose-zinc break-words
    prose-headings:scroll-m-20 prose-headings:tracking-tight
    prose-lead:text-xl prose-lead:text-muted-foreground"
>
  <slot />
</div>
