---
import { Button } from "./ui/button"
---

<Button id="toggle-theme" type="button" size="icon" variant="ghost">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><path d="M12 8a2.83 2.83 0 0 0 4 4 4 4 0 1 1-4-4"></path><path d="M12 2v2"
    ></path><path d="M12 20v2"></path><path d="m4.9 4.9 1.4 1.4"></path><path
      d="m17.7 17.7 1.4 1.4"></path><path d="M2 12h2"></path><path d="M20 12h2"
    ></path><path d="m6.3 17.7-1.4 1.4"></path><path d="m19.1 4.9-1.4 1.4"
    ></path></svg
  >
</Button>

<script is:inline>
  const toggleThemeButton = document.getElementById("toggle-theme")
  const STORAGE_THEME_ITEM = "theme"
  const DARK_CLASS = "dark"
  const LIGHT_CLASS = "light"

  const theme = (() => {
    if (
      typeof localStorage !== "undefined" &&
      localStorage.getItem(STORAGE_THEME_ITEM)
    ) {
      return localStorage.getItem(STORAGE_THEME_ITEM)
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return DARK_CLASS
    }
    return LIGHT_CLASS
  })()

  if (theme === DARK_CLASS) {
    document.documentElement.classList.add(DARK_CLASS)
  } else {
    document.documentElement.classList.remove(DARK_CLASS)
  }

  window.localStorage.setItem(STORAGE_THEME_ITEM, theme)

  toggleThemeButton.addEventListener("click", () => {
    const root = document.documentElement
    root.classList.toggle(DARK_CLASS)
    const isDark = root.classList.contains(DARK_CLASS)
    if (isDark) {
      localStorage.setItem(STORAGE_THEME_ITEM, DARK_CLASS)
    } else {
      localStorage.setItem(STORAGE_THEME_ITEM, LIGHT_CLASS)
    }
  })
</script>
