---
import Header from "@/components/Header.astro"

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class="min-h-[90svh] pt-14">
  <Header />
  <div class:list={["mx-auto p-4 md:mt-6", className]}>
    <slot />
  </div>
</div>
