---
import Header from "@/components/Header.astro"

interface Props {
  title: string
  class?: string
}
---

<div class:list={["flex flex-col min-h-screen", Astro.props.class]}>
  <div class="h-14 w-full absolute top-0 left-0" data-ghost-trigger></div>
  <Header>
    <div class="max-w-screen-sm mx-auto px-2 md:px-4 select-none">
      <p
        class="w-full truncate font-semibold text-transparent transition duration-300"
        data-ghost-title
      >
        {Astro.props.title}
      </p>
    </div>
  </Header>
  <main>
    <div class="mx-auto p-4 md:mt-6 max-w-screen-sm">
      <slot />
    </div>
  </main>
</div>

<script>
  import { GhostEffect } from "@/utils/gosth-effect"

  const intersectionFn = (elem: Element) => {
    elem.classList.add("text-transparent")
  }

  const noIntersectionFn = (elem: Element) => {
    elem.classList.remove("text-transparent")
  }

  new GhostEffect({
    elementSelector: "p[data-ghost-title]",
    triggerSelector: "h1[data-ghost-title-trigger]",
    intersectionFn,
    noIntersectionFn,
  })
</script>
