---
import { SEO } from "astro-seo"
import "@/styles/globals.css"
import "@fontsource/geist-sans/400.css"
import "@fontsource/geist-sans/600.css"
import "@fontsource/geist-sans/700.css"
import "@fontsource/geist-sans/800.css"

interface Props {
  title: string
  description: string
  image?: string
  creator?: `@${string}`
}

const {
  description,
  title,
  creator = "@VTokyo9",
  image = "/understanding-astro-banner.png",
} = Astro.props
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
    <meta
      name="theme-color"
      content="hsl(0 0% 100%)"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="hsl(240 10% 3.9%)"
      media="(prefers-color-scheme: light)"
    />
    <meta name="color-scheme" content="dark light" />

    <SEO
      title={title}
      titleTemplate="%s | Understanding Astro"
      description={description}
      openGraph={{
        basic: {
          image,
          title,
          type: "website",
        },
      }}
      twitter={{ creator, image }}
    />
    <slot />
  </head>
  <body
    class="bg-background text-foreground min-h-dvh selection:bg-foreground selection:text-background"
  >
    <slot name="body" />
  </body>
</html>
