---
import { SEO } from "astro-seo"
import "@/styles/globals.css"
import "@fontsource/geist-sans"

interface Props {
  title: string
  description: string
  image?: string
  creator?: `@${string}`
}

const {
  description,
  title,
  creator = "@VTokyo9",
  image = "/understanding-astro-banner.png",
} = Astro.props
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
    <meta name="theme-color" content="#09090b" />
    <SEO
      title={title}
      titleTemplate="%s | Understanding Astro"
      description={description}
      openGraph={{
        basic: {
          image,
          title,
          type: "website",
        },
      }}
      twitter={{ creator, image }}
    />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
